/*
*/
#divA{
    height: 150px;
    background-color:white;
}
#divB{
    height: 150px;
    background-color:#bd2130;
}
#divC{
    height: 150px;
    background-color:#ececf6;
}
#divD{
    height: 200px;
    background-color: #d4edda;
}
#divE{
    height: 500px;
    background-color: #bd2130;
}

#rodape{
    height: 300px;
    background-color: black;
}
