ul {

    list-style-type: none;

}
.btn-lupa > img{
    width: 25px;
    height: 25px;
}

#vazio_esquerdo{
    height: 150px;
    background-color:#00ff66;
}
#logo{
    height: 150px;
    background-color:#007bff;
}
#vazio_direto{
    height: 150px;
    background-color:#007bff;
}
conteudo{
    height: 700px;
    background-color: #00ff66;  
}

#rodape{
    height: 200px;
    background-color: #00ff66;
}

.thumbnail{
    border: 1px solid #00ff66;
}