/* BORDA EM VOLTA DOS FILMES*/
.bloco_filme{
    text-align: center;
    height: 130PX;
    border: 1px solid #000;
}

.centralizar{
    text-align: center;
  
}

/*fim*/



.btn-lupa > img{
    width: 25px;
    height: 25px;
   }

#vazio_esquerdo{
    height: 150px;
    background-color:#00ff66;
}
#logo{
    height: 150px;
    background-color:#00ff66;
}
#vazio_direto{
    height: 150px;
    background-color:#00ff66;
}
conteudo{
  height: 700px;
  background-color: #00ff66;  
}

#rodape{
    height: 300px;
    background-color: #00ff66;
}